#header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: rgb(200, 180, 150);
  border-radius: 0.5rem;
}

#footer {
  display:flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: rgb(200, 180, 150);
  border-radius: 0.5rem;
  li {
    padding: 0.5rem;
    display:inline;
    list-style-type: none;
  }
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  max-width: 1024px;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

#nav-bar {
  display:flex;
  font-size: 1rem;
  padding: 0.5rem;
}

.nav-link {
  padding: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  color:black;
}

html {
  background-color: rgb(230, 210, 180);
  font-family: 'Roboto Slab';
}

#sub-header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.25rem;
}

.package {
  display:flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  justify-content: space-between;
}

.packages {
  margin-top: 1rem;
  display:grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

h4 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.5rem;
}

h1 {
  font-size: 1rem;
}

#container {
  padding: 1rem;
  max-width: 130ch;
  margin: 0 auto;
}

.cta {
  display: inline-block;
  background-color: rgb(200, 180, 150);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .packages {
    margin-top: 1rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  #nav-bar {
    display:flex;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}

section {
  padding: 1rem 0;
}

.copy-content {
  padding: 1rem;
}

#email {
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

#submit {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: rgb(200, 180, 150);
  border: none;
  cursor: pointer;
}