#header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

#nav-bar {
  display:flex;
  font-size: 1rem;
  padding: 0.5rem;
}

.nav-link {
  padding: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  color:black;
}

html {
  box-sizing: border-box;
  background-color: rgb(230, 210, 180);
  font-family: 'Roboto Slab';
}

#sub-header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.25rem;
}

.package {
  display:flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0 1rem;
  justify-content: space-between;
}

.packages {
  margin-top: 1rem;
  display:grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

h4 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.5rem;
}

h1 {
  font-size: 1rem;
}

#container {
  padding: 1rem;
  max-width: 130ch;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .packages {
    margin-top: 1rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  #nav-bar {
    display:flex;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}

